@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@font-face {
    font-family:'GalanoGrotesque-Medium';
    src: url(fonts/GalanoGrotesque-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.block-1 {
    width: 100%;
    background-color: #F9F9FA;
}

/* BLOCK-1 */

.block-1__title_gradient {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg,#4343FF 0%, #F96D6D 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.block-1__subtitle {
    width: auto;
    max-width: 845px;
    font-family:'GalanoGrotesque-Medium';
    font-size: 46px;
    line-height: 55.2px;
    text-align: center;
    color: #110C11;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

.block-1__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 35px;
    margin-left: 105px;
    margin-right: 104px;
    padding-bottom: 80px;
}

.block-1__grid-item {
    padding: 22px;
    background-color: #FFFFFF;
    transition: transform 1s;
}

.block-1__grid-item:hover {
    transform: scale(1.1);
}

.block-1__grid-item h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #110C11;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.block-1__grid-item p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    size: 17px;
    line-height: 26px;
    color: #5C5C5C;
}

@media only screen and (max-width: 500px)  {
    .block-1__subtitle {font-size: 28px;
    line-height: 40px;}
    .block-1__grid {margin-left:0; margin-right: 0;  grid-template-columns: 1fr;}
    .block-1__grid-item:hover{transform: none;}
    .block-1__grid-item{transition: none;}
}


/* INFO SECTION */

.info {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.info__content {
    display: block;
    padding-left: 135px;
    padding-top: 175px;
    padding-bottom: 175px; 
}

.info__content h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
    color: #56565A;
    margin-bottom: 10px;
}

.info__content p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #56565A;
    margin-bottom: 25px;
}

.info__content button{
    width: 142px;
    height: 44px;
    cursor: pointer;
    background-color: #0A467E;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    border: none;
}

.info__content button:hover {
    background-color: #1374cf;
}

.info__content_btn-group_left {
    margin-right: 10px;
}

.info__sidebar{
    display: flex;
    gap: 15px;
    margin-right: 220px;
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
}

.info__sidebar_left-part_item, .info__sidebar_right-part {
    background-color: #EDEDED;
    text-align: center;
    padding: 22px 25px;
    flex-basis: 50%;
}

.info__sidebar_left-part_item:last-of-type {
    margin-top: 15px;
    padding-bottom: 40px;
}

.info__sidebar_right-part {
    padding: 110px 22px 106px 22px;
}

.info__sidebar_left-part_item img, .info__sidebar_right-part img {
    width: 30px;
    height: 30px;
}

.info__sidebar_left-part_item h4, .info__sidebar_right-part h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #56565A;
}

.info__sidebar_left-part_item hr, .info__sidebar_right-part hr {
    border: 1px solid #E5E5E5;
    margin: 15px 0px;
    padding: 0px 50px;
}

.info__sidebar_left-part_item p, .info__sidebar_right-part p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #56565A;
}

@media only screen and (max-width: 750px) {
    .info{flex-direction: column;}
    .info__sidebar{flex-direction: column;}
    .info__content{padding-left: 60px; padding-right: 60px; padding-bottom: 0px; padding-top: 60px;}
    .info__sidebar{margin-right: 60px; margin-top: 0px;}
    .info__sidebar_right-part{padding-top: 22px; padding-bottom: 22px;}
    .info__sidebar_left-part_item:last-of-type {padding-bottom: 22px;}
}